{namespace test.codemotion.templates.invoices}

/**
 * @param key
 * @param value
 */
{template .model}
    <div
        class="{css test-codemotion-invoice}">
        <span
            data-model="{$key.customerId}">
            {$value.customerId}
        </span>
        <span>
            $
        </span>
        <span
            data-model="{$key.total}">
            {$value.total}
        </span>
    </a>
{/template}